/*Fuentes importadas 
1-BRAND TITTLE

*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  
  /*background-color:#fff;*/
}

.container {
  margin: 0 auto;
  background:linear-gradient(180deg, #303F9F, #3F51B5);
  width: 100%;
}

#particlespace {
  height: 800px;
  
}

#row1 {
  margin-top: 20px;
}

#mybrand, #bs-example-navbar-collapse-1 {
 font-family: 'Roboto', sans-serif;
 color: #C5CAE9;
 text-align: center;
}

.iconini {
  color: #C5CAE9;
}

.webtit {
   font-family: 'Questrial', sans-serif;
   font-size: 1.4em;
   color: #FFFFFF;
}
.navbar-default {
  background-color: rgba(255,255,255,0);
  border-color:  rgba(255,255,255,0);;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-text {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-toggle {
  border-color:  rgba(255,255,255,0);;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFFFFF;
}
.navbar-default .navbar-link {
  color: #FFFFFF;
}
.navbar-default .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color:  rgba(255,255,255,0);
  }
}