/*Fuentes importadas 
1-BRAND TITTLE

*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
body {
  
  /*background-color:#fff;*/
}

.container {
  margin: 0 auto;
  background:linear-gradient(180deg, #2F2D2D, #2F2D2D);
  width: 100%;
}

#particlespace {
  color:#E8E7E7;
  height: 800px;
  margin-top: 50px;
  /*background:powderblue;*/
  text-align: center;
  line-height: 0.9;
  font-size: 5em;
  font-family: 'Josefin Sans', sans-serif;
}

#row1 {
  margin-top: 20px;
}

#mybrand, #bs-example-navbar-collapse-1 {
 font-family: 'Josefin Sans', sans-serif;
 color: #FFC300;
 text-align: center;
}

.iconini {
  color: #FFC300;
}

.palabraweb {
  font-size: 1.3em;
  vertical-align: center;
}

#icontit {
  font-size: .2em;
  line-height: 3;
  vertical-align: center;
}

.webtit {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 2em;
   color: #E8E7E7;
}
.navbar-default {
  background-color: rgba(255,255,255,0);
  border-color:  rgba(255,255,255,0);;
}
.navbar-default .navbar-brand {
  color: #E8E7E7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #E8E7E7;
}
.navbar-default .navbar-text {
  color: #E8E7E7;
}
.navbar-default .navbar-nav > li > a {
  color: #E8E7E7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #E8E7E7;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #E8E7E7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #E8E7E7;
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #E8E7E7;
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #E8E7E7;
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #E8E7E7;
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-toggle {
  border-color:  rgba(255,255,255,0);;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color:  rgba(255,255,255,0);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #E8E7E7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #E8E7E7;
}
.navbar-default .navbar-link {
  color: #E8E7E7;
}
.navbar-default .navbar-link:hover {
  color: #E8E7E7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #E8E7E7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #E8E7E7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #E8E7E7;
    background-color:  rgba(255,255,255,0);
  }
}